.DS_Store
lib/__pycache__
out/
back/
log/
temp/
output*/
outputs*/
.others/
__pycache__
wandb*/
*.parquet
*.log
archieve/
analysis/
analysis/*
evaluation/llm_judge/data/mt_bench/model_answer/*.jsonl
evaluation/llm_judge/data/mt_bench/model_judgment/*.jsonl